@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-body text-gray-800 bg-bg-main leading-relaxed overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold text-primary;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  .box-shadow-gold {
    box-shadow: 15px 15px 0 #d4af37;
  }
}
